build/
Makefile
libdl.cbp
libdl
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
libdl.dSYM/
testmain.dSYM/
.idea/
libdl.egg-info/
example.cpython-36m-darwin.so
main code.txt
.vscode/
files/
example.egg-info/
dist/
example.cpython-37m-darwin.so
release/
python_scripts/__pycache__/
libdl.cpython-37m-darwin.so
