build/
Makefile
libdl.cbp
libdl
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
libdl.dSYM/
testmain.dSYM/
.idea/
libdl.egg-info/
example.cpython-36m-darwin.so
cell_images/
main code.txt
.vscode/
files/
example.egg-info/
dist/
example.cpython-37m-darwin.so